[submodule "FastAllocator"]
   	path = Allocator
	url = https://github.com/KaEuAn/FastAllocator.git
[submodule "BinarySearchTree"]
   	path = BinarySearchTree
	url = https://github.com/KaEuAn/BinarySearchTree.git
[submodule "SmartPointers"]
   	path = Pointers
	url = https://github.com/KaEuAn/SmartPointers.git